<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyandutilsdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> 
	<uses-permission android:name="android.permission.READ_CONTACTS"/>  
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.easyandutilsdemo.MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.easyandutilsdemo.MainActivity2_"/>
        <service android:name="com.ylq.demo1.FloatWindowService_"/>
        <activity android:name="com.ylq.demo2.Demo2Activity_"/>
        <activity android:name="com.ylq.demo3.Demo3Activity_"/>
        <activity android:name="com.ylq.demo4.Demo4Activity_"/>
        <activity android:name="com.ylq.demo5.Demo5Activity_"/>
    </application>

</manifest>
